@import "reset.css";

#passSearch {
  display : flex;
  flex-direction : column;
  align-items : center;
  margin : 40px auto;
}

.title {
  display : inline-block;
  width : 550px;
  padding-bottom : 010px;
  border-bottom : 2px rgb(138, 138, 138) solid;
  color : rgb(88, 85, 85);
  font-weight : 800;
  margin-bottom : 30px;
}

input,span {
    display : block;
}

label {
display : block;
color : rgb(240, 130, 71);
}

input {
    margin-bottom : 5px;
}

input[type="text"] {
    width : 300px;
    height : 40px;
    margin-left : 8px;
    margin-top : 6px
}

#idSearch>div>form>input[type="button"] {
    margin-top : 7px;
    }



input[type="button"] {
    all : unset;
    width : 305px;
    height : 40px;
    margin-left : 8px;
    margin-top : 10px;
    border : 1px solid #000000;
    text-align : center;
    color : white;
    background-color : rgb(240, 130, 71);
    font-weight : 800;
}

input[type="button"]:hover {
    cursor : pointer;
}


.notice {
    font-weight : 600;
    margin-left : 5px;
    margin-top : 10px;
    color : rgb(105, 102, 105);
}

