@import "reset.css";

.block {
 display : block;
 margin-top : 12px;
}

#deleteZone {
  position : absolute;	
  top : 0;
  right : 0;
  width : 1200px;
  height : 1050px;
  background-color : rgba(0,0,0,0.3);
  z-index : 1;
}

#confirmZone {
	border : 2px solid #000000;
	border-radius : 6px;
	position : absolute;
	top : 400px;
	left : 420px;
	text-align : center;
	padding : 100px;
	background-color : #ffffff;
}

.hide {
	display : none;
}
#confirmZone input[type=button] {
    font-family: 'VITRO PRIDE TTF';
	all : unset;
}

#confirmZone input[type=button]:hover {
	cursor : pointer;
}

#confirmMsg {
	margin-bottom : 20px;
}


#signModify {
    margin : 40px auto;
    width: 100%;
    font-family: 'VITRO PRIDE TTF';
}


#signBox {
	margin-left : 35%;
	margin-top : 30px;
	position : relative;
}

#signModify .title {
    text-align : center;
    border-bottom : 1px solid #6d6b6b;
    margin : 10 auto;
    color : #6d6b6b;
    font-weight : 700;
    padding : 15px;
    font-size: 30px;
    font-family: 'twayair';
}

label {
    font-weight : 600;
    color : #6d6b6b;
}

#signBox .btn {
    all : unset;
    box-sizing : border-box;
    border : 1px solid rgb(240, 130, 71);
    border-radius : 5px;
    width : 100px;
    height : 45px;
    color : rgb(240, 130, 71);
    text-align : center;
}

#signBox .btn:hover {
    cursor : pointer;
    border : 1px solid #000;
    color : #000;
    transition: all 0.5s;
}

#signBox .input {
    box-sizing : border-box;
    margin-left : 7px;
    width : 350px;
    min-height : 45px;
    font-size : 13pt;
    border : 1px solid #d8b6b6e0;
} 

#signBox .post {
    box-sizing : border-box;
    margin-top : 7px;
    margin-left : 7px;
    margin-right : 15px;
    width : 230px;
    min-height : 45px;
    font-size : 13pt;
    border : 1px solid #d8b6b6e0;
}

.posi {
    display : block;
    margin-top : 12px;
    font-weight : 600;
    color : #6d6b6b;
}


.topMargin {
    display : block;
    margin-top : 7px;
}

.botMargin {
    display : block;
    margin-bottom : 7px;
}

.eyeImg {
    width : 25px;
    opacity : 0.7;
}

.eyeImg {
    cursor : pointer;
}

.imgBox {
    margin-top : 20px;
    display : flex;
    flex-direction : row;
}

.imgBox .position {
    margin-left : 20px;
    width : 100px;
    height : 130px;
}

.imgBox img {
    width : 90px;
    height : 120px;
}

.imgBox img:hover {
	border : 4px solid rgb(240, 130, 71);
	cursor : pointer;
}

.click {
	border : 4px solid rgb(240, 130, 71);
}

.btnZone {
margin-top : 15px;

}

.btnZone .signBtn {
    all : unset;
    display : block;
    width : 340px;
    height : 50px;
    text-align : center;
    margin-top : 5px;
    color : white;
    font-size : 15pt;
    font-weight : 700;
    background-color : rgb(170, 163, 163);
}

.btnZone .signBtn:hover {
    cursor : pointer;
    background-color : rgb(240, 130, 71);
}