@charset "UTF-8";

.container{
	width: 1895px;
    min-height: 1000px;
    margin: auto;
}

.content{
	display:inline-block;
	margin-top:5px;
	width:100%;
	height:800px;
	border-top:solid 1px #C2BCBC;
	background-color:#E2E2E2;
}

.main_content{
	width: 70%;
    margin-left: 10%;
}

.menu{
	display: inline-block;
    width: 100%;
}

.menu ul li{
	list-style: none;
    float: left;
    width: 24%;
    height: 100%;
    text-align: center;
    margin-top: 37px;
}

.menu ul li a{
	font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}


.footer{
	display:inline-block;
	width:100%;
	height:300px;
}