@charset "UTF-8";
@import "reset.css";

/*컬러지정*/
:root{
    --gray:rgb(204, 204, 204);
    --bwhite:rgb(252,252,252,0.4);
	--carrot: rgb(240, 130, 71);
	--more:rgb(252, 87, 5);
	--light-carrot: rgba(240, 130, 71, 0.7);
}

@font-face {
	font-family:'VITRO PRIDE TTF';
	src: url('../font/VITRO-PRIDE-TTF.woff2') format('woff2'),
		url('../font/VITRO-PRIDE-TTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/* 비트로 프라이드 */

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*티웨이 하늘*/

@font-face {
    font-family: 'twayfly';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*티웨이 날다*/

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*티웨이 항공*/

#main{
	width: 100%;
}

.borderName{
	background-color: var(--carrot);
	line-height: normal;
	border-radius: 0 0 15px 15px;
    border-top: 2px solid rgba(100,100,100,0.7);
    box-shadow: 0px 15px 20px rgb(240 130 71 / 50%);
}

.borderName>p{
	color: #fff;
	font-family: 'twayair';
	font-size: 28px;
	width: 60%;
    display: inline-block;
    margin: 20px;
}

.borderName>a{
	font-family: 'twayair';
	font-size: 20px;
	line-height: 50px;
	float: right;
	padding: 10px 30px;
	cursor: pointer;
}

/*====================== 배너 ========================*/

#main #banner{
	width: 100%;
	height: 530px;
	position: relative;
	font-family:'VITRO PRIDE TTF';
	font-size: 14px;
	background: #fcfcfc;
	margin: 0;
    padding: 0;
}

.swiper-container {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 370px;
        height: 510px;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide .in {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #fcfcfc;
        text-align: center;
      }
      
      .swiper-slide .in h2{
      	font-family: 'twayair';
      	font-size: 35px;
      	margin: 10px auto;
      }
      
      .swiper-slide .in h3{
      	font-size: 20px;
      	margin: 10px auto;
      	font-weight: 600;
      }
      
      .swiper-slide .in h4{
      	font-size: 20px;
    	font-weight: 600;
      }

      .swiper-slide .in img {
        display: block;
        width: 100%;
      }
      
      .swiper-pagination{
      	bottom: 0px !important;
	    left: 0;
	    width: 100%;
      }

/*======================  구장 ========================*/

#main #recentStadium{
	width: 100%;
}


#main #recentStadium .items{
	width: 100%;
	border-left: double 4px #eee;
	border-right: double 4px #eee;
	border-bottom: double 4px #eee;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#main #recentStadium .items .item{
	position: relative;
  	overflow: hidden;
	margin: 5px;
    text-align: center;
    width: 220px;
    height: 220px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.item img{
	max-width: 100%;
	height: 100%;
  	position: relative;
  	opacity: 1;
}

figure.item figcaption {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid white;
  border-width: 0 1px;
  font-family:'VITRO PRIDE TTF';
}

figure.item figcaption .heading {
	text-shadow: 1px 1px rgb(0 0 0);
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.item figcaption .caption{
	text-shadow: 1px 1px rgb(0 0 0);
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  width: 100%;
  bottom: 0;
}

figure.item h3,
figure.item p {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}

figure.item h3 span,
figure.item p span {
  font-weight: 800;
}

figure.item h3:before,
figure.item p:before,
figure.item h3:after,
figure.item p:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
}

figure.item h3:before,
figure.item p:before {
  left: -1000%;
}

figure.item h3:after,
figure.item p:after {
  right: -1000%;
}

figure.item h3:before,
figure.item h3:after {
  top: 50%;
}

figure.item p {
  font-size: 16px;
  font-weight: 500;
}

figure.item p:before,
figure.item p:after {
  bottom: 50%;
}

figure.item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.item:hover img,
figure.item.hover img {
  opacity: 0.35;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

/*====================== 게시판 공통 ========================*/
#main #comu, #main #match{
	width: 100%;
	margin: 80px auto;
}
#main .title{
	font-family:'VITRO PRIDE TTF';
	border-bottom : 4px double #ccc;
	padding-top: 5px;
	padding-bottom: 15px;
	margin: 10px auto 0;
	font-size: 20px;
	font-weight: bold;
}

#main #match .items .item{
	font-family:'VITRO PRIDE TTF';
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
#main .items{
	border-bottom: 4px solid #ccc;
}

#main .items .item:hover{
	background-color: rgba(240, 130, 71, 0.3);
	transition: background-color, 0.5s;
	cursor : pointer;
}

/*====================== 자유 ========================*/

#comu .title .rnum, #comu .items .item .rnum{
	width: 9%;
	text-align: center;
	display: inline-block;
}
#comu .title .subject, #comu .items .item .subject{
	text-align: center;
	width: 40%;
	display: inline-block;
}
#comu .title .mid, #comu .items .item .mid{
	text-align: center;
	width: 40%;
	display: inline-block;
}
#comu .title .hit, #comu .items .item .hit{
	width: 9%;
	display: inline-block;
	text-align: center;
}

/*====================== 매칭 ========================*/
#match .title .rnum, #match .items .item .rnum{
	width: 5%;
	text-align: center;
	display: inline-block;
}

#match .title .date, #match .items .item .date{
	width: 15%;
	text-align: center;
	display: inline-block;
}

#match .title .team, #match .items .item .team{
	width: 5%;
	text-align: center;
	display: inline-block;
}

#match .title .region, #match .items .item .region{
	width: 5%;
	text-align: center;
	display: inline-block;
}

#match .title .tier, #match .items .item .tier{
	width: 5%;
	text-align: center;
	display: inline-block;
}

#match .title .subject, #match .items .item .subject{
	width: 40%;
	text-align: center;
	display: inline-block;
}

#match .title .mid, #match .items .item .mid{
	width: 20%;
	text-align: center;
	display: inline-block;
}