@charset "EUC-KR";

#match_detail { /* 전체 영역 */
	width: 100%;
    margin: 20px auto;
    font-family: 'VITRO PRIDE TTF';
}

#mat{ /* 게시판 제목 타이틑 */
font-family: 'twayair';
	font-size: 30pt;
	font-weight: bolder;
	margin-top: 5px;
	display: inline-block;
}

#line{ /* 타이틀 아래 경계선 */
    border: 1px solid black;
    background-color: black;
    margin-top: 10px;
}

.replWrite{
	display: flex;
    align-content: center;
    align-items: center;
}

#insertReplBtn{
	border: 1px solid #000;
    padding: 4px 10px;
    background-color: #fff;
    font-family: 'VITRO PRIDE TTF';
    margin-left: 20px;
}

#insertReplBtn:hover{
	background-color:#000;
	color:#fff;
	cursor:pointer;
}

.replDelete, .vs{
	border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    padding: 4px 10px;
    font-family: 'VITRO PRIDE TTF';
}

.replDelete:hover, .vs:hover{
	color:#000;
	background-color:#fff;
	cursor:pointer;
}

#title { /* 제목창 */
	margin:0 auto;
    width: 1225px;
    font-size: 16pt;
    display:inline-block;
    margin-top:10px;
    margin-bottom: 20px;
}

.mid{ /* 작성자 아이디 */
	font-weight: bold;
	display: inline-block;
    margin-bottom: 2%;
}

.loc{ /* 지역 */
	display: inline-block;
    width: 50px;
}

.tag{ /* 태그 2:2 */
	display: inline-block;
    width: 50px;
}

.tier{	/* 실력 */
	display: inline-block;
    width: 50px;
}

.nal_hit{ /* 게시글 작성 날짜 */
	float: right;
	position: relative;
	bottom: 10px;
}

#line1{ /* 제목창 아래 경계선 */
	background-color: #dcdcdc;
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

#text-view{ /* text 창 */
	border:none;
	padding-top:70px;
	padding-bottom:70px;
}

.SUD{ /* 신고,수정,삭제 */
	float:right;
	position: relative;
	bottom: 10px;
	
}

.matUpdate{
	border: none;
	background-color: white;
	position: relative;
	bottom: 5px;
}

.matUpdate:hover{
	cursor: pointer;
}

.matDelete{
	border: none;
	background-color: white;
	position: relative;
	bottom: 5px;
}

.matDelete:hover{
	cursor: pointer;
}

#repl{ /* 리플 제목 (댓글) */
	display:inline-block;
	font-size: 14pt;
	font-weight: bolder;
	margin-top:5px;
	margin-bottom:5px;
}

.reList{ /* 댓글 리스트 */
	margin-top: 5px;
    border-bottom: 1px solid #aaa;
    min-height: 55px;
}



.re_mid{ /* 댓글 작성자 아이디 */
	font-weight: bold;
}

.rerepl{ /* 댓글쓰기 */
	float: right;
}

textarea{ /*댓글 입력창 */
	margin-top:10px;
	resize: none;
	font-size: 10pt;
}

#btnRepl{ /* 댓글 입력 버튼 */
	width: 50px;
    height: 30px;
    position: relative;
    float: right;
    right: 15px;
    bottom: 40px;
    background-color: white;
    border: none;
}

#btnRepl:hover{
	cursor: pointer;
}

#backHistory{
	all:unset;
	border: 1px solid #000;
    padding: 4px 10px;
    font-size: 17px;
    font-family: 'VITRO PRIDE TTF';
    float: right;
    margin: 20px;
}

#backHistory:hover { 
	cursor:pointer;
	background-color: #000;
	color:#fff;
}

.btn_find{ 
    background-color: #ffffff;
    width:41px;
    height: 41px;
    color: rgb(80, 80, 80);
    font-family:'VITRO PRIDE TTF';
    border: 1px solid #aaa;
    font-size: 15px;
    font-weight: bold;
}

.btn_find:hover{
    background-color:  rgb(240, 130, 71);
    border:1px solid #000;
    color:white;
    cursor: pointer;
    transition: all 0.5s;
}

.btn_find1{ 
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border:1px solid #aaa;
    color: rgb(80, 80, 80);
    font-family:'VITRO PRIDE TTF';
    font-weight: bold;
}

.btn_find1:hover{
    background-color:rgb(255, 255, 255);
    border:1px solid #fc5d3a;
    color:#fc5d3a;
    cursor: pointer;
    transition: all 0.5s;
}